/*------------ overall --------------*/

html {
  width: 100%;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

footer {
  background-color: #BBCAC3;
  /* background-color: rgb(156, 199, 255); */
  height: 15em;
}

main {
  background-color: #ffffff;
}

/*------ alert -----*/

.alert {
  z-index: 1;
  margin-top: 5em;
  text-align: center;
  background-color: #FFF3CD;
  color: #908152;
}

/*------------ nav --------------*/

#navbarNavAltMarkup {
  transition: 1s;
}

.nav-item {
  padding: 0em 0.5em;
}

.househome {
  margin-left: 3em;
  margin-top: .1em;
  width: 2.65em;
}

.househome:hover {
  transform: scale(1.05);
  transition: all .4s ease-in-out;
}

.toggle {
  margin-right: 1.5em;
  margin-top: .1em;
  width: 2.25em;
}

.dropdown-item {
  color: black;
  font-size: 14px;
  font-weight: 100;
  outline: none;
}

.dropdown-item:hover {
  color: #35363a;
  outline: none;
  background-color: #F2F2F2;
}

.dropdown-menu {
  background-color: #ffffff;
  /*
  border-bottom: .5px solid black;
  border-right: .5px solid black;
  border-left: .5px solid black;
   border-top: none;*/
  transition: 1s;
}

.nav-link {
  font-size: 15px;
  transition: all .4s ease-in-out;
  /* font-family: 'Darker Grotesque', sans-serif; */
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 500;
  color: black;
  outline: none;
}

.nav-link:hover {
  color: #566B60;
  transform: scale(1.05);
}

.navbar {
  background-color: #ffffff;
  z-index: 2;
}

.fa-home {
  margin-left: 1.5em;
}

.navigationbar {
  margin-top: 4em;
}

#sticky-collapse span {
  color: black;
  margin-right: 1em;
}

#activeclick {
  border-bottom: 1px solid black;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: lightgray;
}

/*------------ main --------------*/

.header-diff {
  background-color: white;
}


.box1 {
  text-align: center;
  margin-top: 10em;
}

.box1 h2 {
  font-size: 45px;
  font-weight: 500;
  font-family: 'Darker Grotesque', sans-serif;
  letter-spacing: 4px;
  color: black;
}

.box2 {
  text-align: center;
  padding-top: 1em;
  font-family: 'Darker Grotesque', sans-serif;
  color: #494848;
  letter-spacing: 4px;
}

.box2 h4 {
  font-size: 15px;
}

.title {
  margin: 10em 0em 8em 0em;
  color: #35363a;
}

.title h1 {
  font-size: 75px;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: 'Darker Grotesque', sans-serif;
}

.title h5 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #626262;
}

.title-minkonst {
  margin: 10em 0em 2em 0em;
  font-family: 'Darker Grotesque', sans-serif;
  color: #35363A;
}

.title-minkonst h1 {
  font-size: 55px;
  font-weight: bold;
}

.title-minkonst h5 {
  font-style: italic;
  color: #939393;
  font-weight: 300;
  font-size: 20px;
}

.index-portfolio {
  margin: 9em 0em 4em 0em;
}

.index-portfolio h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: 'Darker Grotesque', sans-serif;
  color: #35363A;
}

.index-portfolio p {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 18px;
  color: #35363A;
}

.insta-box {
  margin: 10em 0em 2em 0em;
}

.insta-box h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: 'Darker Grotesque', sans-serif;
  color: #35363A;
}

.card {
  background-color: #ffffff;
}

.test {
  border-radius: 50%;
  width: 25em;
  height: 25em;
  object-fit: contain;
}

.card {
  border: none;
  text-align: center;
}

.portfolio-card {
  margin: auto;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
}

.card-title {
  font-style: italic;
  font-size: 14px;
  color: #3D3C3C;
  font-family: 'Lexend Mega', sans-serif;
}

.btn {
  color: #92AA9F;
  border-color: #92AA9F;
  background-color: #ffffff;
  border-radius: 3px;
  font-family: 'Rajdhani', sans-serif;
}

.btn:hover {
  color: #FFFFFF;
  border-color: #92AA9F;
  background-color: #92AA9F;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.btn-portfolio {
  text-align: center;
  margin-bottom: 5em;
}

.btn-portfolio p {
  font-size: 18px;
}

.box3 {
  width: 50%;
  text-align: center;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 30px !important;
}

/*---------------  footer ----------------*/

.fot {
  height: 6em;
  text-align: center;
  color: #35363a;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 18px;
  padding: 0em 10em;
  padding-top: 2.5em;
  font-weight: 500;
}

.testux {
  margin-top: 8em;
  width: 100% !important;
  opacity: 100%;
  object-fit: cover;
}

/*------------------------ om mig ----...............----------*/

.ommig {
  margin: auto;
  margin-bottom: 10em;
}

.ommig h4 {
  font-style: italic;
  color: #939393;
  font-weight: 300;
  font-size: 20px;
  border-bottom: .5px #939393 solid;
  margin-bottom: 1em;
}

.ommig h1 {
  font-size: 55px;
  font-weight: bold;
  color: #35363A;
}

.ommig p {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 18px;
}

#kompetens h4 {
  font-size: 18px;
  font-style: italic;
  color: #34373A;
  font-weight: 600;
  margin-bottom: 1em;
}

#kompetens h5 {
  font-size: 16px;
  color: #3D3C3C;
  font-family: 'Lexend Mega', sans-serif;
}

.kompetens-box {
  padding-top: 1.5em;
}

.interests {
  padding-top: 3em;
}

/*------------------------ portfolio ---------------------------*/

/*------------ arbeten --------------*/

.text1 {
  margin: auto;
}

.text1 h5 {
  font-style: italic;
  color: #939393;
  font-weight: 300;
  font-size: 20px;
}

.text1 h1 {
  font-size: 55px;
  font-weight: bold;
  color: #35363A;
}

.text1 p {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 18px;
}

.wrapper {
  padding: 0em 10em 5em 10em;
}

.wrapper-index {
  padding: 0em 10em 0em 10em;
}

.wrapper-portfolio p {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 15px;

}


.content p {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 18px;
}

.content h3 {
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.aboutgoal p {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 18px;
  color: #5D5D5D;
}

/*------------------------ kontakt ---------------------------*/

.info h3 {
  text-align: left;
  color: #3D3C3C;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 500;
  font-size: 20px;
}

.info h2 {
  text-align: left;
  color: #3D3C3C;
  font-weight: 700;
  font-size: 30px;
}

.modal {
  background-color: rgba(255, 255, 255, 0.95);
}

.modal-img {
  padding-top: 1.5em;
}

.infoicon {
  background: #35363A;
  color: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.socialicons {
  color: #3D3C3C;
  font-size: 20px;
  background: #DFDEDE;
  padding: 10px;
  border-radius: 50%;
}

.socialicons:hover {
  background: #BBCAC2;
}

/*------------------------ minkonst  ---------------------------*/

/*
#minkonsthover:hover {
  opacity: 0.6;
  transition: 0.2s;
}
*/

/*------------------------   ---------------------------*/

.process h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 2em;
  color: #35363a;
}

/*------------ fixedbtn --------------*/

#arrowbtn {
  position: fixed;
  bottom: 3em;
  right: 3em;
  z-index: 1;
}

/*------------ responsive --------------*/


@media only screen and (max-width: 991px) {
  .text1 {
    text-align: center;
  }

  .box1 h2 {
    font-size: 35px;
  }

  .ommig {
    margin-top: 5em;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5em;
  }

  .ommig h1 {
    font-size: 30px;
    text-align: center;
    margin: auto;
    visibility: hidden;
  }

  #kompetens {
    margin-top: 2em;
    text-align: center;
  }

  .navbar-collapse {
    text-align: center;
    padding: 2.5em 0em;
  }

  .navbar {
    z-index: 1;
  }

  .nav-item a {
    font-size: 20px;
  }

  .title {
    margin: 8em 0em 4em 0em;
  }

  .title h1 {
    text-align: center;
    font-size: 45px;
  }

  .title h5 {
    text-align: center;
    font-size: 18px;
  }

  .title-minkonst h1 {
    text-align: center;
    font-size: 45px;
  }

  .title-minkonst h5 {
    text-align: center;
    font-size: 18px;
  }

  .dropdown-menu {
    text-align: center;
  }

  .btn-ommig {
    margin: auto;
    margin-top: 3em;
  }

  .videolink {
    text-align: center;
    margin-bottom: 2em;
  }

  .fot {
    padding: 3em 3em;
    font-weight: 500;
  }

  .fa-home {
    margin-left: .5em;
  }

  .content h1,
  p {
    text-align: center;
  }

  .dropdown-menu {
    border: none;
  }

  .process h1 {
    margin-top: 1em;
    text-align: center;
  }

  .modal-box {
    padding: 0em 1em;
  }

  .info h2,
  h3 {
    text-align: center;
  }

  .modal-img {
    padding-top: 3em;
  }

  .socialicons {
    font-size: 16px;
    background: #DFDEDE;
    padding: 20px;
    border-radius: 50%;
  }

  .wrapper {
    padding: 0em 2em 2em 2em;
  }

  .wrapper-index {
    padding: 0em 2em 0em 2em;
  }

  .kompetens-box {
    padding-top: 0em;
  }

  .interests {
    padding-top: 4em;
  }

  .navbar {
    border-bottom: 5px solid white;
  }

  .index-portfolio {
    margin: 7em 2em 3em 3em;
  }

  .aboutgoal {
    text-align: center;
    margin-top: 3em;
  }

  .order {
    display: flex;
    flex-direction: column;
  }

  .order-item1 {
    order: 1;
  }

  .order-item2 {
    order: 2;
  }

  .portfolio-card {
    margin-bottom: 2em;
  }

  .projekt {
    margin-bottom: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .toggle {
    width: 2em;
    margin-right: 0em;
    margin-top: .5em;
  }

  .househome {
    width: 2em;
    margin-left: 1.2em;
  }

  .nav-item {
    padding: .5em 0em;
  }

  .box1 {
    margin-top: 10em;
  }

  .box1 h2 {
    font-weight: 600;
    font-size: 28px;
  }

  .box2 {
    margin-bottom: 2em;
  }

  .box2 h4 {
    font-size: 18px;
    line-height: 1.4em;
  }

  .kontakt-text {
    font-size: 25px;
  }

  .wrapper {
    padding: 0em 1.5em 2em 1.5em;
  }

  .wrapper-index {
    padding: 0em 1.5em 0em 1.5em;
  }

  .wrapper-ommig {
    text-align: center;
    margin: auto;
  }

  .fot {
    font-size: 15px;
    height: 8em;
    padding-top: 2.5em;
    font-weight: 500;
  }

  .nav-link {
    padding: 5px;
  }

  .index-portfolio {
    text-align: center;
    margin: 7em 0em 0em 0em;
  }

  .index-portfolio h1 {
    text-align: center;
    font-size: 40px;
  }

  .insta-box {
    text-align: center;
    margin: 4.5em 0em 2em 0em;
  }

  .insta-box h1 {
    font-size: 40px;
  }

  .process h1 {
    font-size: 35px;
  }

  .backbtn {
    display: none;
  }

  .title-minkonst {
    margin: 8em 0em 2em 0em;
  }

  .info h3 {
    font-size: 13px;
  }

  .modal-img {
    padding-top: 2em;
  }

  .alert {
    margin-top: 4.5em;
  }

  .testux {
    margin-top: 3em;
  }
}